@page "/alunos/criar"
@inject HttpClient http
@inject NavigationManager navigation

<h3>CADASTRAR NOVO ALUNO</h3>
<br>
<PageAlunos Aluno="aluno" ButtonText="Adicionar" OnValidSubmit="@Criar"></PageAlunos>


@code {
    private Aluno aluno = new Aluno();
    async Task Criar()
    {
        await http.PostAsJsonAsync("api/alunos", aluno);
        navigation.NavigateTo("alunos");
    }
    //private async Task Criar()
    //{
    //    Console.WriteLine("Create method");
    //    Console.WriteLine(curso.NomeCurso);

    //    try
    //    {
    //        await cursoRepository.CreateCurso(curso);
    //        navigation.NavigateTo("cursos");
    //    }
    //    catch (Exception ex)
    //    {
    //        // ...
    //        Console.WriteLine(ex.Message);
    //    }
    //}
}
