@page "/alunos/details/{id:int}"
@inject HttpClient http
@inject NavigationManager navigation


<h3>Detalhes</h3>
<PageDetails Aluno="aluno" ButtonText="Voltar" OnValidSubmit="@DetalhesAluno"></PageDetails>

@code {
    private Aluno aluno = new Aluno();
    [Parameter] public int id { get; set; }
    protected override async Task OnParametersSetAsync() // é chamado qd o roteamento passar o valor para a propriedade
    {
        aluno = await http.GetFromJsonAsync<Aluno>($"api/alunos/{id}");
    }

    async Task DetalhesAluno()
    {
        await http.PutAsJsonAsync("api/alunos", aluno);
        navigation.NavigateTo("alunos");
    }
}