@page "/cursos/criar"
@inject HttpClient http
@inject NavigationManager navigation

<h3>CADASTRAR NOVO CURSO</h3>
<br>
<FormCursos Curso="curso" ButtonText="Adicionar" OnValidSubmit="@Criar"></FormCursos>


@code {
    private Curso curso = new Curso();
    async Task Criar()
    {
        await http.PostAsJsonAsync("api/cursos", curso);
        navigation.NavigateTo("cursos");
    }
 
}
